*.swp
*.*~
*~
log/*.log
tmp/**/*
tmp/*
tmp
db/*.sqlite3
db/*.sqlite3-journal
db/schema.rb
config/database.yml
public/system/*
public/upload/*
public/assets/*
coverage
.DS_Store
._.DS_Store
*.mwb.baknode_modules
node_modules
stdout
